@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  margin: auto;
  max-width: 800px;
  resize: vertical;
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #ccc;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itembutton {
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  background-color: #d22;
  color: black;
  padding: 15px;
  margin: 20px;
  border: 1px solid #000;
  text-decoration: none;
  transition: filter 0.2s;
}

.itembutton:hover {
  filter: brightness(70%);
}

a:visited {
  text-decoration: none;
}

#container {
  background-color: #88f;
  width: 100%;
  margin: auto;
  max-width: 800px;
  resize: vertical;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-link {
  color: black;
  font-size: 50px;
  text-decoration: none;
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  clear: both;
  margin-top: 20px;
}

img {
  width: 80px;
  float: left;
  margin-right: 10px;
}

strong {
  font-size: 20px;
}

p {
  margin: 5px 0;
}